<!DOCTYPE html>
<!-- Alex Tetervak, Sheridan College, Ontario -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" href="../static/css/main.css" type="text/css" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
<main>
    <h1>Welcome</h1>
    <h2>Hello, <span th:text="${userName}">Bart Simpson</span>!</h2>
    <p class="message">Welcome back!</p>
    <p><a th:href="@{Forget.do}" href="Input.html">Forget me</a></p>
</main>
<footer>Sheridan College, 2019</footer>
</body>
</html>
